<div class="">
  <div class="container-fluid jumbotron">
    <div class="row">
      <div class="col-md-8 offset-2 py-5">
        <h1 class="display-4 text-center">Welcome</h1>
        <p class="text-center lead">
          Here you find the latest food blogs!
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid px-md-5 my-5">
    <div class="row">
      <div class="col-sm-9 mb-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 mb-3" *ngFor="let post of posts">
              <div class="card">
                <a [routerLink]="['/blog', post.id]">
                  <img [src]="post.image" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <a [routerLink]="['/blog', post.id]"><h3 class="text-uppercase">
                          {{post.title}}
                        </h3></a>
                        <span class="small text-muted ml-1"><i class="fa fa-user"></i>  Post by {{post.author}} On <i
                          class="fa fa-clock-o"></i> {{post.date_created | date: 'mediumDate'}}</span>

                        <p>{{(post.description.length > 6) ? (post.description | slice:0:200) + '..' : (post.description)}}</p>
                      </div>
                    </div>
                    <button class="btn btn-primary small float-right" [routerLink]="['/blog', post.id]"><i
                      class="fa fa-eye"></i> Read More
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search">
          </div>
        </form>
        <h3>Latest News</h3>
        <div *ngFor="let post of posts">
          <a [routerLink]="['/blog', post.id]">
            <h5>{{post?.title}}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
